<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Sigma tech forum</title>

        <link rel="stylesheet" href='/static/css/style.css'>
    </head>

    <body>
        <p><a href="/">Home</a> | <a href="/signup">Sign up</a></p>

        <h1>Welcome to Sigma tech forum!</h1>

        <form method="post" action="/">
            <p>
                Please enter your name: <input type="text" name="your-name">
            </p>

            <button type="submit">submit</button>
        </form>
    </body>

</html>