{% extends "base.html" %}

{% block title %}Sign up | Sigma Tech Forum{% endblock title %}

{% block content %}

<h1>Sign up for Sigma Tech Forum</h1>

<form method="post">
    <input type="text" name="username" placeholder="Think of a new username" required> <br>
    <input type="password" name="password" placeholder="Think of a new password" required> <br>
    <input type="password" name="repeat" placeholder="Enter your new password again" required> <br>

    <button type="submit">Submit</button>
</form>

{% endblock content %}