{% extends "base.html" %}

{% block content %}

{% if user %}
    <h1>Welcome to Sigma Tech Forum, {{user.username}}!</h1>
{% else %}
    <h1>Welcome to Sigma Tech Forum, pardner!</h1>
{% endif %}

{% if topics %}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Topic</th>
      <th scope="col">Author</th>
      <th scope="col">Date created</th>
    </tr>
  </thead>
  {% for topic in topics %}
  <tbody>
    <tr>
      <td><a href="/topic/{{topic.id}}">{{ topic.title }}</a></td>
      <td>{{ topic.author.username}}</td>
      <td>{{ topic.created.strftime('%d %b %Y %H:%M') }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% else %}
<h2>No posts yet!</h2>
{% endif %}

{% endblock content %}