{% extends "base.html" %}

{% block title %}{{ topic.title }}{% endblock title %}

{% block content %}

<h1>{{ topic.title }}</h1>

<small>Posted by {{ topic.author.username }} on {{ topic.created.strftime('%d %b %Y') }}</small>

{% if user.id == topic.author.id %}
<p>
    <a href ="/topic/{{topic.id}}/edit">Edit</a>
    <a href ="/topic/{{topic.id}}/delete">Delete</a>
</p>
{% endif %}
<p>{{ topic.text }}</p>

<hr>

{% if user %}
<form method="post" action="/topic/{{topic.id}}/create-comment">
    <input type="hidden" name="csrf" value="{{ csrf_token }}">

    <textarea name="text" rows="4" placeholder="Comment..." required></textarea>

    <button type="submit">Submit</button>
</form>
{% endif %}

{% for comment in comments %}
<p><strong>{{comment.author.username}}:</strong> {{ comment.text }}</p>
{% endfor %}

{% endblock content %}